.CourseTile {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.CourseTile:hover, .CourseTile:active {
    border: 1px solid #eee;
    background-color: #C6E4E0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.CourseRepository .CourseTile:hover, .CourseRepository .CourseTile:active {
    border-left: 3px solid rgba(55, 100, 94, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: border 0.3s ease;
}

.CourseTile .header {
    margin-bottom: 5px;
}

.CourseTile .id {
    padding: 3px 0;
}

.CourseTile .title {
    font-size: 12px;
    color: #aaa;
    font-weight: 400;
}

.InteractiveGrid .CourseTile {
    padding: 10px 20px;
    margin: 5px 0;
}

.InteractiveGrid .CourseTile .header {
    margin-bottom: 0;
}

.InteractiveGrid .CourseTile .title {
    display: none;
}

.ant-popover {
    width: 350px;
}