.CourseList {
    width: 100%;
    background-color: #FCFFFD;
    padding: 5px;
}

.CourseList-tilelist {
    min-height: 230px;
    max-height: 230px;
    overflow-y: scroll;
}

.InteractiveGrid .CourseList {
    margin: 5px 0;
}